* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;

  @include tablets {
    font-size: 15px;
  }

  @include phones {
    font-size: 14px;
  }
}

body {
  font: 18px/1.7 'Alegreya Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.body--active-menu {
  overflow: hidden;
}

.wrapper {
  min-width: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.main {
  height: 100%;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: $z-index-content;

  &--col {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    }
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

input,
button,
textarea {
  outline: none;
}