.button {
  display: inline-block;
  padding: rem(21px) rem(37px);
  border-radius: 100px;
  background-color: #fff;
  color: $green;
  font-weight: 800;
  line-height: 1rem;
  text-transform: uppercase;
  transition: 0.4s;
  z-index: $z-index-content;

  &:hover {
    background-color: $green;
    color: #fff;
  }

  &--green {
    background-color: $green;
    color: #fff;
    margin-top: rem(23px);

    &:hover {
      background-color: #fff;
      color: $green;
    }
  }
}

.button--reset {
  background: transparent;
  color: inherit;
  text-transform: none;
  font-weight: normal;

  &:hover {
    background-color: transparent;
  }
}