.button {
  display: inline-block;
  padding: 21px 37px;
  border-radius: 29px;
  background-color: #fff;
  color: $green;
  font-weight: 800;
  line-height: 1rem;
  text-transform: uppercase;
  margin-bottom: 68px;
  transition: 0.4s;
  z-index: 2;

  &:hover {
    background-color: $green;
    color: #fff;
  }
}
