.button {
  display: inline-block;
  padding: 21px 37px;
  border-radius: 29px;
  background-color: #fff;
  color: $green;
  font-weight: 800;
  line-height: 1rem;
  text-transform: uppercase;
  transition: 0.4s;
  z-index: 2;

  &:hover {
    background-color: $green;
    color: #fff;
  }

  &--form {
    background-color: $green;
    color: #fff;
    margin-right: 40px;

    &:hover {
      background-color: #fff;
      color: $green;
    }
  }
}

.first__button {
  margin-bottom: 68px;
}

.button__reset {
  color: inherit;
}