.contacts {
  font-size: 24px;
  font-style: normal;
}

.contacts__tel {
  position: relative;
}

.contacts__tel:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 11px;
  background-image: url("../img/icons/phone.png");
}
