.first {
  position: relative;
  background-color: $blue;
  background-image: url('../img/leaf.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  flex-direction: column;

  &:after {
    content: '';
    @include decoration;
    width: rem(1053px);
    height: rem(350px);
    background: url('../img/berries.png') no-repeat;
    bottom: -9%;
    z-index: $z-index-berries;
  }

  & .container--col {
    height: 100%;
  }
}

.first__content {
  display: flex;
  z-index: $z-index-content;

  @include tablets {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5%;
    padding: 0 20%;
  }

  @include phones {
    padding: 0;
  }
}

.first__col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
    width: 100%;
    text-align: center;
  }
}

.first__text {
  max-width: 70%;
  font-size: rem(21px);
  line-height: 1.7rem;
  margin-bottom: rem(28px);

  @include tablets {
    max-width: 90%;
    margin: rem(20px) auto rem(28px);
  }

  @include phones {
    font-size: rem(18px);
  }
}

.first__list {
  display: flex;
  font-size: 1rem;
  line-height: 1.3rem;

  @include tablets {
    justify-content: center;
  }
}

.first__item {
  display: flex;
  justify-content: space-between;
  flex: 1;

  &:last-child {
    margin-right: 0;
  }

  @include phones {
    width: 33%;
  }
}

.first__features {
  z-index: $z-index-content;
  align-self: flex-start;
  justify-content: center;
  width: 50%;

  @include tablets {
    align-self: center;
  }

  @include phones{
    width: 100%
  }
}

.first__icon {
  width: rem(83px);
  height: rem(42px);
  margin-right: 4px;
  stroke: #fff;
  fill: transparent;
}

.first__chocco {
  max-width: 100%;
  margin: 0 auto;

  @include tablets {
    max-width: 60%;
    max-height: 60%;
  }
}