.menu__list {
  display: flex;

  @include tablets {
    display: none;
  }
}

.menu__item {
  margin-right: rem(20px);
  transition: 0.4s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $green;
  }
}