.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.pagination__item {
  margin-bottom: 6px;
}

.pagination__item:last-child {
  margin-bottom: 0;
}

.pagination__item--active .pagination__link {
  border: 1px solid #fff;
}

.pagination__link {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid transparent;
  border-radius: 50%;
}

.pagination__link:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.pagination__link:hover {
  border: 1px solid #fff;
}
