.pagination {
  display: flex;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  @include tablets {
    display: none;
  }
}

.pagination__item {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    .pagination__link {
      border: 1px solid #fff;
    }
  }
}

.pagination__link {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  transition: 0.4s;
  border: 1px solid transparent;
  border-radius: 50%;

  &:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  &:hover {
    border: 1px solid #fff;
  }
}