.reviews {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 16%;
    height: 13.23%;
    background: url('../img/berries_3.png') center center / contain no-repeat;
    right: 0;
  }

  &:after {
    content: '';
    position: absolute;
    width: 14.36%;
    height: 29.7%;
    background-image: url('../img/berries_4.png') center center / contain no-repeat;
    left: 0;
  }
}

.reviews__container {
  position: relative;
  background-color: $pearl;
  background-image: url('../img/leaf_3.png');
  background-position: right top;
  background-repeat: no-repeat;
  padding: rem(50px);
  margin-bottom: rem(16px);

  &:before {
    content: '';
    @include decoration;
    width: rem(110px);
    height: rem(70px);
    clip-path: ellipse(35% 35% at 50% 50%);
    background-color: #fff;
    top: -37px;
    z-index: $z_index_berries;
  }

  @include tablets {
    width: 80%;
  }
}

.reviews__wrap {
  display: flex;
  justify-content: center;
}
  
.reviews__content {
  display: none;

  &--active {
    display: flex;
  }

  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
  }
  
  @include phones {
    padding: rem(40px) 0;
    width: 100%;
  }
}

.reviews__avatar {
  max-width: rem(250px);
  max-height: rem(250px);
  display: flex;
  align-items: center;
  overflow: hidden;

  @include phones {
    max-width: rem(124px);
    max-height: rem(124px);
  }
}

.reviews__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews__desc {
  margin-left: rem(20px);
  max-width: 50%;

  @include tablets {
    max-width: 80%;
    margin-left: 0;
  }

  & h3 {
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: rem(20px);
  }

  & p {
    color: $gray;
    line-height: 1.2;
    margin-bottom: rem(25px);

    @include tablets {
      margin-bottom: 0;
    }
  }

  & h4 {
    color: $gray;
    font-weight: 500;
  }
}

.reviews__list {
  display: flex;
  justify-content: center;
}

.reviews__item {
  width: rem(75px);
  height: rem(75px);
  border-radius: 50%;
  overflow: hidden;
  margin-right: 3px;
  border: 7px solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    border-color: $green;
  }
}

.reviews__preview {
  height: 100%;
  width: 100%;
  object-fit: cover;
}