.reviews {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 86px;
    background-image: url('../img/berries_3.png');
    right: 0;
  }

  &:after {
    content: '';
    position: absolute;
    width: 135px;
    height: 193px;
    background-image: url('../img/berries_4.png');
    left: 0;
  }
}

.reviews__wrap {
  position: relative;
  display: flex;
  background-color: $pearl;
  background-image: url('../img/leaf_3.png');
  background-position: right top;
  background-repeat: no-repeat;
  padding: 50px;
  margin-bottom: 27px;

  &:before {
    content: '';
    @include decoration;
    width: 125px;
    height: 75px;
    clip-path: ellipse(35% 35% at 50% 50%);
    background-color: #fff;
    top: -12%;
    z-index: $z_index_berries;
  }
}

.reviews__avatar {
  width: 253px;
  height: 259px;
  display: flex;
  align-items: center;
}

.reviews__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews__desc {
  margin-left: 20px;
  max-width: 50%;

  & h3 {
    font-size: 30px;
    font-weight: 500;
  }

  & p {
    color: $gray;
  }

  & h4 {
    color: $gray;
    font-weight: 500;
  }
}

.reviews__list {
  display: flex;
  justify-content: center;
}

.reviews__item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border: 5px solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    border-color: $green;
  }
}

.reviews__preview {
  height: 100%;
  width: 100%;
  object-fit: cover;
}