.slider {
  background-color: $lightblue;
}


.slider__arrow {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__prev,
.slider__next {
  width: 20px;
  height: 20px;
  border-radius: 7px 0 0 0;
  border-top: 2px solid $black;
  border-left: 2px solid $black;
}

.slider__prev {
  transform: rotate(-45deg);
}

.slider__next {
  transform: rotate(135deg);
}

.slider__wrap {
  width: 100%;
}

.slider__list {
  display: flex;
}

.slider__item {
  flex: 1;
  position: relative;
}