.taste {
  position: relative;
  color: #fff;
  background: url('../img/bg/menu.jpg') center center / cover no-repeat;

  &:after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.taste__list {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: $z_index_content;

}

.taste__item {
  display: flex;

  &--active {

    .taste__desc {
      max-width: rem(530px);
    }
  }
}

.taste__title {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 3rem;
  font-weight: 500;
  z-index: $z_index_content;
}

@each $bg in (milk, honey, berries) {
  .taste__btn--#{$bg} {
    background: url('../img/bg/#{$bg}.jpg') center center / cover no-repeat;
  }
}

.taste__btn {
  position: relative;
  display: flex;
  justify-content: center;
  color: currentColor;
  max-width: rem(100px);
  height: 100%;

  &:after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.taste__desc {
  background-color: rgba($darkgray, .9);
  max-width: 0;
  overflow: hidden;
  font-size: rem(16px);
  position: relative;
}

.taste__text {
  padding: rem(50px) rem(124px) rem(50px) rem(30px);

  @include tablets {
    padding-right: rem(72px);
  }

  @include phones {
    padding-right: rem(28px);
  }
}

.taste__close {
  position: absolute;
  width: 24px;
  height: 4px;
  border-radius: 2px;
  background-color: $lightgray;
  transform: rotate(45deg);
  right: 22px;
  top: 30px;

  &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: $lightgray;
    transform: rotate(90deg);
  }
}