.team {
  position: relative;

  & .container {
    align-items: stretch;
  }

  &:before {
    content: '';
    position: absolute;
    width: rem(196px);
    height: rem(598px);
    background: url('../../img/leaf_4.png') center center no-repeat;
    right: 0;
    top: -35%;
  }

  &:after {
    content: '';
    position: absolute;
    width: rem(104px);
    height: rem(114px);
    background: url('../../img/berries_5.png') center center / contain no-repeat;
    left: 0;
    bottom: 1%;
  }

  @include tablets {
    height: initial;
  }
}

.team__list {
  display: flex;
  text-align: center;
  z-index: $z_index_content;
  flex-wrap: wrap;

  @include tablets {
    margin-bottom: 10%;
  }
}

.team__item {
  flex: 1;
  margin-right: rem(20px);
  width: 25%;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    min-width: 47%;

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

.team__photo {
  display: inline-block;
  width: rem(220px);
  height: rem(290px);
  overflow: hidden;
  margin-bottom: rem(15px);

  @include phones {
    width: rem(143px);
    height: rem(186px);
  }
}

.team__avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team__text {

  h3 {
    @include tablets {
      font-weight: 500;
    }
  }
  h3:after {
    content: '\25BC';
    display: inline-block;
  }

  p {
    color: $gray;
    font-size: rem(17px);
    line-height: 1.5;
  }
}

.team__desc {
  height: 0;
  overflow: hidden;
}

.team__item--active {

  .team__desc {
    height: auto;
  }

  h3:after {
    content: '\25B2';
  }
}