.title {
  text-transform: uppercase;
  font-size: rem(60px);
  line-height: 1;
  margin-bottom: 5px;
}

.section-title {
  font-size: rem(48px);
  text-transform: uppercase;
  line-height: 1;
  text-align: center;

  &--why {
    margin-bottom: rem(15px);
  }

  &--taste {
    position: absolute;
    align-self: flex-start;
    margin-top: 8%;
    margin-left: 7%;
    z-index: $z_index_content;
  }

  &--reviews {
    z-index: $z_index_content;
    margin-bottom: 4%;
  }

  &--team {
    margin-bottom: 6%;
  }

  &--order {
    color: $green;
    margin-bottom: 4%;
  }
}
