.title {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1;
  margin-top: 87px;
  margin-bottom: 5px;
}

.section-title {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;

  &--why {
    margin-top: 95px;
  }

  &--taste {
    position: absolute;
    align-self: flex-start;
    margin-top: 80px;
  }

  &--reviews {
    z-index: $z_index_title;
    margin-bottom: 33px;
  }

  &--team {
    margin-bottom: 54px;
  }

  &--order {
    color: $green;
    margin-bottom: 50px;
  }
}
