.why {
  background-image: url('../img/leaf_2.png');
  background-position-y: 25%;
  background-repeat: no-repeat;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: rem(161px);
    height: rem(315px);
    background: url('../img/berries_2.png') center center / contain no-repeat;

    @include phones {
      display: none;
    }
  }
}

.why__desc {
  color: $gray;
  max-width: 44%;
  line-height: 1.5rem;
  margin: 0 auto rem(53px);

  @include tablets {
    margin-bottom: rem(20px);
    max-width: 70%;
  }
}

.why__list {
  display: flex;
  z-index: $z_index_content;

  @include tablets {
    flex-direction: column;
  }
}

.why__item {
  position: relative;
  flex: 1;
  margin-right: rem(70px);

  &:last-child {
    margin-right: 0;
  }

  &:after {
    content: '';
    position: absolute;
    width: rem(68px);
    height: rem(22px);
    background-image: url('../img/separator.png');
    left: 100%;
    top: 20%;

    @include tablets {
      display: none;
    }
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  @include tablets {
    margin-right: 0;
    margin-bottom: rem(20px);
    padding: 0 17%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include phones {
    display: flex;
    align-items: center;
    padding: 0;
  }

}

.why__circle {
  width: 126px;
  height: 126px;
  border-radius: 50%;
  background-color: $lightgray;
  margin: 0 auto rem(20px);
  
  @include tablets {
    margin-bottom: 0;
  }

  @include phones {
    min-width: 126px;
  }
}

.why__icon {
  position: relative;
  width: 70px;
  height: 70px;
  fill: transparent;
  stroke: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.why__elem {
  @include phones {
    text-align: left;
    margin-left: rem(20px);
  }
}

.why__title {
  font-size: rem(27px);
  margin-bottom: rem(13px);

  @include phones {
    margin-bottom: 0;
  }
}

.why__text {
  font-weight: 300;
  line-height: 1.4rem;
}